/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e3e7eb;
}

.container {
  margin-top: 70px;
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.testimonial {
  width: 25%;
  margin: 0 15px 30px 15px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.testimonial .profile-testimonial {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.quote {
  font-size: 16px;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 20px;
}

.author {
  font-weight: bold;
  text-align: right;
}

.container-rating h2 {
  display: flex;
  justify-content: center;
}

.rating button:hover {
  border: none;
}

.container h1 {
  font-size: 28px;
}

.container h1 span {
  color: orangered;
  font-size: 28px;
}

.container-rating h2 {
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .testimonial {
    width: 40%;
  }
}

@media only screen and (max-width: 700px) {
  .testimonial {
    width: 80%;
  }
}
